extends layout

block content
    .w3-card-4
      header.w3-container.w3-light-green
        h2.w3-center CLAV: Classificação e Avaliação da Informação Pública
        p  A CLAV é uma plataforma em desenvolvimento no DI/UM em parceria e sob encomenda da Direção Geral do Livro, Arquivos e Bibliotecas (DGLAB) que visa a classificação e a avaliação de toda a documentação circulante na administração pública portuguesa; Apresenta-se a seguir a lista de Entidades públicas que intervêm nos processos de negócio (classes de 3º nível) da Lista Consolidada. Podem integrar uma ou mais tipologias de entidades.
        p Uma das faces visíveis do projeto é o catálogo dos processos da administração pública portuguesa, designado por Lista Consolidada. 
      .w3-container 
                p
                   a(href="http://localhost:7000/classes") Classes
                p                
                  a(href="http://localhost:7000/termosIndice") Termos de índice
     
      footer.w3-container.w3-light-green
            p
            address Gerado por dawApp :: 2021-Jan, Maria 
            a(href="/") Return 
